#header{
  width: 832px;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
  background-color: lightblue;
  font-size: 3.5em;
}
#score{
  float:right;

}
#timer{
  float:left;
}
#playable-area{
  position: relative;
  width: 832px;
  height: 640px;
  margin: 0 auto;
}
#map{
  position: absolute;
  width: 832px;
  height: 640px;
  background-image: url('../img/level1.png');
  z-index: 1;
}
#water{
  position: absolute;
  width: 832px;
  height: 640px;
  background-image: url('../img/water1.png');
	background-repeat: repeat;
  z-index: -1;
	animation: animateWater 60s linear infinite;
}
@keyframes animateWater {
  from { background-position: 0 0; }
	to { background-position: 100% 100%; }
}

.tile{
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  float: left;
}

.train{
  position: absolute;
  transform: scale(1);
  width: 64px;
  height: 64px;
  transition: top .75s linear,left .75s linear,transform .5s;
  z-index: 1;
}

.waterTail{
  width: 10px;
  height: 10px;
  border: 1px solid #82b1ff;
  border-radius: 10px;
  position: absolute;
  animation: animateWaterTail 2.5s linear;
  z-index: -1;
}
@keyframes animateWaterTail{
  0%{ transform: scale(1); opacity: 1;}
  80%{opacity: 0.1;}
  100% { transform: scale(3.5); opacity: 0;}
}

.house{
  border: 2px solid red;
  z-index: 4;
}
.switch{
  position: absolute;
  width: 64px;
  height: 64px;
  z-index: 3;

}
.start{
  border: 2px solid green;
}
.circle{
  z-index: 4;
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  top:-64px;
  transform: scale(2);
  border: 5px solid #d62d20;
  /*background-color: #eee;*/
  opacity: .05;
  transition: .5s;

}
.circle:hover{
  opacity: .4;
}



.log{
  position: relative;
  width: 64px;
  height: 64px;
  z-index: 3;
  opacity: 1;
  background-image: url('../img/log.png');
  transition: .5s;
}




.horizontal{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.vertical{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.top-right{
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
}
.top-left{
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}
.bottom-right{
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}
.bottom-left{
  border-right: 1px solid #000;
  border-top: 1px solid #000;
}
